
/*start main rules*/

body{
    background-color: #f4f4f4;
}

/*end main rules*/

/*start login form*/

.login {
    width: 300px;
    margin: 100px auto;
}

.login input{
    margin-bottom: 10px;
}

/*end login form*/

.form-control{
    position: relative;
}

.astric{
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 0;
    color: red;
}

.catname {
}

.view2{
    display: none;
}

.toggle-info{
    cursor: pointer;
}

.panel-body{
    margin-top: 25px;
}

.cat-nav .cat-item{
    padding: 10px;
}

.itm{
    background-color: #e8e8e8;
}

.login2{
    background-color: #ececec;
    padding: 10px;
    margin: 10px;
}

.frm{
    max-width: 400px;
    margin: auto;
}

.sign{
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
}

.cont{
    position: relative;
}

.login3{
    cursor: pointer;
}

.signup{
    cursor: pointer;
}

.selected{
    color: red;
}




